<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.main.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.main.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.main.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServiceController</servlet-name>
        <servlet-class>controller.admins.UpdateServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServiceController</servlet-name>
        <servlet-class>controller.admins.ShowServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDoctorController</servlet-name>
        <servlet-class>controller.admins.ShowDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTypeController</servlet-name>
        <servlet-class>controller.admins.ServiceTypeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctor_Admin</servlet-name>
        <servlet-class>controller.admins.UpdateDoctor_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctorController</servlet-name>
        <servlet-class>controller.admins.DeleteDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDoctorController</servlet-name>
        <servlet-class>controller.admins.SearchDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctorController</servlet-name>
        <servlet-class>controller.admins.AddDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceController</servlet-name>
        <servlet-class>controller.admins.SearchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPatientController</servlet-name>
        <servlet-class>controller.admins.ShowPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPatientController</servlet-name>
        <servlet-class>controller.admins.SearchPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatientController</servlet-name>
        <servlet-class>controller.admins.UpdatePatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddServiceController</servlet-name>
        <servlet-class>controller.admins.AddServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.load.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceTypeHomeController</servlet-name>
        <servlet-class>controller.main.ServiceTypeHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceHomeController</servlet-name>
        <servlet-class>controller.main.SearchServiceHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDoctorController</servlet-name>
        <servlet-class>controller.load.LoadDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchService_BookingController</servlet-name>
        <servlet-class>controller.booking.SearchService_BookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitBooking</servlet-name>
        <servlet-class>controller.booking.SubmitBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleServiceDoctorController</servlet-name>
        <servlet-class>controller.booking.HandleServiceDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingController</servlet-name>
        <servlet-class>controller.booking.ShowBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserController</servlet-name>
        <servlet-class>controller.users.RegisterUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDiscountController</servlet-name>
        <servlet-class>controller.admins.SearchDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDiscountController</servlet-name>
        <servlet-class>controller.admins.UpdateDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDiscountController</servlet-name>
        <servlet-class>controller.admins.ShowDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDoctorSchedule</servlet-name>
        <servlet-class>controller.doctor.ShowDoctorSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSlot</servlet-name>
        <servlet-class>controller.doctor.RegisterSlot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServiceDetailController</servlet-name>
        <servlet-class>controller.load.LoadServiceDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingPatientController</servlet-name>
        <servlet-class>controller.patient.ShowBookingPatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingDetailController</servlet-name>
        <servlet-class>controller.patient.DeleteBookingDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFeedBackController</servlet-name>
        <servlet-class>controller.patient.CreateFeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAdminController</servlet-name>
        <servlet-class>controller.admins.LoadAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadServiceController</servlet-name>
        <servlet-class>controller.admins.LoadServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServiceAdminController</servlet-name>
        <servlet-class>controller.admins.DetailServiceAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteImageServiceController</servlet-name>
        <servlet-class>controller.admins.DeleteImageServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImageController</servlet-name>
        <servlet-class>controller.admins.UpdateImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDoctorAdminController</servlet-name>
        <servlet-class>controller.admins.LoadDoctorAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailDoctorAdminController</servlet-name>
        <servlet-class>controller.admins.DetailDoctorAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDiscountController</servlet-name>
        <servlet-class>controller.admins.LoadDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingAdminController</servlet-name>
        <servlet-class>controller.admins.ShowBookingAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingAdminController</servlet-name>
        <servlet-class>controller.admins.UpdateBookingAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscountController</servlet-name>
        <servlet-class>controller.admins.AddDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServiceNameForDiscount</servlet-name>
        <servlet-class>controller.admins.GetServiceNameForDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleController</servlet-name>
        <servlet-class>controller.main.LoginGoogleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFaceBookController</servlet-name>
        <servlet-class>controller.main.LoginFaceBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadIndexController</servlet-name>
        <servlet-class>controller.load.LoadIndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelSlotDoctorController</servlet-name>
        <servlet-class>controller.admins.CancelSlotDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingDetail</servlet-name>
        <servlet-class>controller.admins.DeleteBookingDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowBookingDoctorController</servlet-name>
        <servlet-class>controller.doctor.ShowBookingDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookingDetailDoctorController</servlet-name>
        <servlet-class>controller.doctor.DeleteBookingDetailDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookingDoctorController</servlet-name>
        <servlet-class>controller.doctor.UpdateBookingDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFeedBackAdminController</servlet-name>
        <servlet-class>controller.admins.ShowFeedBackAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedBackController</servlet-name>
        <servlet-class>controller.admins.DeleteFeedBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProfileDoctorController</servlet-name>
        <servlet-class>controller.admins.ShowProfileDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileDoctorController</servlet-name>
        <servlet-class>controller.admins.UpdateProfileDoctorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProfileAccountController</servlet-name>
        <servlet-class>controller.users.ShowProfileAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfilePatientController</servlet-name>
        <servlet-class>controller.users.UpdateProfilePatientController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminController</servlet-name>
        <servlet-class>controller.admins.AddAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleDoctorMonthBeforeController</servlet-name>
        <servlet-class>controller.admins.ScheduleDoctorMonthBeforeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScheduleDoctorMonthCurrentController</servlet-name>
        <servlet-class>controller.admins.ScheduleDoctorMonthCurrentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTeamController</servlet-name>
        <servlet-class>controller.team.ShowTeamController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServiceController</servlet-name>
        <url-pattern>/UpdateServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServiceController</servlet-name>
        <url-pattern>/ShowServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTypeController</servlet-name>
        <url-pattern>/ServiceTypeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDoctorController</servlet-name>
        <url-pattern>/ShowDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctor_Admin</servlet-name>
        <url-pattern>/UpdateDoctor_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctorController</servlet-name>
        <url-pattern>/DeleteDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDoctorController</servlet-name>
        <url-pattern>/SearchDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctorController</servlet-name>
        <url-pattern>/AddDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceController</servlet-name>
        <url-pattern>/SearchServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPatientController</servlet-name>
        <url-pattern>/ShowPatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPatientController</servlet-name>
        <url-pattern>/SearchPatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatientController</servlet-name>
        <url-pattern>/UpdatePatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddServiceController</servlet-name>
        <url-pattern>/AddServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceTypeHomeController</servlet-name>
        <url-pattern>/ServiceTypeHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceHomeController</servlet-name>
        <url-pattern>/SearchServiceHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDoctorController</servlet-name>
        <url-pattern>/LoadDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchService_BookingController</servlet-name>
        <url-pattern>/SearchService_BookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitBooking</servlet-name>
        <url-pattern>/SubmitBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleServiceDoctorController</servlet-name>
        <url-pattern>/HandleServiceDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingController</servlet-name>
        <url-pattern>/ShowBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUserController</servlet-name>
        <url-pattern>/RegisterUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDiscountController</servlet-name>
        <url-pattern>/SearchDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDiscountController</servlet-name>
        <url-pattern>/UpdateDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDiscountController</servlet-name>
        <url-pattern>/ShowDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDoctorSchedule</servlet-name>
        <url-pattern>/ShowDoctorSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSlot</servlet-name>
        <url-pattern>/RegisterSlot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServiceDetailController</servlet-name>
        <url-pattern>/LoadServiceDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingPatientController</servlet-name>
        <url-pattern>/ShowBookingPatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingDetailController</servlet-name>
        <url-pattern>/DeleteBookingDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFeedBackController</servlet-name>
        <url-pattern>/CreateFeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAdminController</servlet-name>
        <url-pattern>/LoadAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadServiceController</servlet-name>
        <url-pattern>/LoadServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServiceAdminController</servlet-name>
        <url-pattern>/DetailServiceAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteImageServiceController</servlet-name>
        <url-pattern>/DeleteImageServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImageController</servlet-name>
        <url-pattern>/UpdateImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDoctorAdminController</servlet-name>
        <url-pattern>/LoadDoctorAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailDoctorAdminController</servlet-name>
        <url-pattern>/DetailDoctorAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDiscountController</servlet-name>
        <url-pattern>/LoadDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingAdminController</servlet-name>
        <url-pattern>/ShowBookingAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingAdminController</servlet-name>
        <url-pattern>/UpdateBookingAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscountController</servlet-name>
        <url-pattern>/AddDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServiceNameForDiscount</servlet-name>
        <url-pattern>/GetServiceNameForDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleController</servlet-name>
        <url-pattern>/LoginGoogleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFaceBookController</servlet-name>
        <url-pattern>/LoginFaceBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadIndexController</servlet-name>
        <url-pattern>/LoadIndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelSlotDoctorController</servlet-name>
        <url-pattern>/CancelSlotDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingDetail</servlet-name>
        <url-pattern>/DeleteBookingDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowBookingDoctorController</servlet-name>
        <url-pattern>/ShowBookingDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookingDetailDoctorController</servlet-name>
        <url-pattern>/DeleteBookingDetailDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookingDoctorController</servlet-name>
        <url-pattern>/UpdateBookingDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFeedBackAdminController</servlet-name>
        <url-pattern>/ShowFeedBackAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedBackController</servlet-name>
        <url-pattern>/DeleteFeedBackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProfileDoctorController</servlet-name>
        <url-pattern>/ShowProfileDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileDoctorController</servlet-name>
        <url-pattern>/UpdateProfileDoctorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProfileAccountController</servlet-name>
        <url-pattern>/ShowProfileAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfilePatientController</servlet-name>
        <url-pattern>/UpdateProfilePatientController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminController</servlet-name>
        <url-pattern>/AddAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleDoctorMonthBeforeController</servlet-name>
        <url-pattern>/ScheduleDoctorMonthBeforeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScheduleDoctorMonthCurrentController</servlet-name>
        <url-pattern>/ScheduleDoctorMonthCurrentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTeamController</servlet-name>
        <url-pattern>/ShowTeamController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomeController</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ConnectorServlet</servlet-name>
        <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
        <init-param>
            <description> Path to configuration file can be relative path inside application, absolute path on local file system or UNC path. </description>
            <param-name>XMLConfig</param-name>
            <param-value>/WEB-INF/config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectorServlet</servlet-name>
        <url-pattern> /ckfinder/core/connector/java/connector.java </url-pattern>
    </servlet-mapping>
</web-app>
