/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 26, 2022, 4:01:21 PM
    Author     : Doan
*/


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {    
    padding:16px;
    background-color: #47B5FF;
    color: white;
}



.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: black;
}
.modal label{
    font-size: 18px;
    color: blue;
}
.modal p{
    align-content: center;
    text-align: center;
}


/*table*/
.table-wrapper{
    margin: 10px 60px 60px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
.title-table{
    font-size:24px;
    font-weight: bold;
    color: black; 
    display: block;
    text-align: center;
    align-content: center;
    padding-bottom: 20px;
}

.register{
    padding: 2px 4px;
    background-color:#76BA99;
    border-radius: 20px;
    color:white;
}

.register:hover{
    cursor: pointer;
    opacity: .8;
}


.register-done{
    background-color: #9ADCFF;
    border-radius: 20px;
    color:white;
    padding: 2px 4px;
}

.none{
    display:none;
}
.passed{
    background-color: #F0EBE3 !important;
    border-radius: 20px;
    color:black;
    padding: 2px 4px;
}

#toast-msg{
    position: fixed;
    padding-left: 10px;
    right: 10px;
    top:80px;
    z-index: 100;
    width: 250px;
    background-color: #28a745;
    border-bottom-left-radius:10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: left;
    color:white;
    font-size: 18px;
    animation: slideInleft ease .3s, fadeOut linear 1s 3s forwards;
}

@keyframes slideInleft {

    from{
        opacity: 0;
        transform: translateX(calc(100%+40px));

    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut{
    to{
        opacity: 0;

    }
}

#toast-close{
    color: white;
    width: 240px;
    background-color: rgb(231,210,14);
    display: block;
}

#toast-msg strong{
    color: white;
    font-size: 15px;
}
